/*CARTA*/
#carta{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    font-family: Enchanted;
}
#print{
    width: 600px;
    height: 790px;
}
/*EFEITO FUNDO CARTA*/
#efeito-fundo-carta1A{
    position: absolute;
    z-index: 0;
    width: 450px;
    height: 510px;
    margin-top: -50px;
    margin-left: 308px;
}
@media (max-width: 450px) {
    #efeito-fundo-carta1A{
        display: none;
    }
}
#efeito-fundo-carta2A{
    position: absolute;
    z-index: -1;
    width: 620px;
    top: -150px;
    margin-left: 280px;
    display: none;
}
/*IMAGENS CARTA*/
.moldura img{
    position: absolute;
    image-rendering: optimizeQuality;
    z-index: 4;
    border-radius: 2px;
    width: 300px;
}
.lenda img{
    position: absolute;
    image-rendering: optimizeQuality;
    z-index: 2;
    width: 270px;
    margin-left: 15px;
    filter: drop-shadow(3px 2px 2px black) saturate(80%) contrast(130%);
}
.estrelas img{
    position: absolute;
    image-rendering: optimizeQuality;
    z-index: 4;
    width: 300px;
}
.fundo img{
    position: absolute;
    image-rendering: optimizeQuality;
    z-index: 0;
    width: 300px;
    border-radius: 8px;
}

/*TEXTO CARTA*/
.nome p{
    position: absolute;
    text-rendering: optimizeLegibility;
    z-index: 5;
    font-size: 1.5rem;
    margin: 8px 24px;
    font-weight: bold;
    width: 158px;
    
}
.lenda-nome p{
    position: absolute;
    text-rendering: optimizeLegibility;
    z-index: 5;
    font-size: 1rem;
    margin: 31px 24px;
    width: 155px;
}
.custo-nome{
    position: absolute;
    text-rendering: optimizeLegibility;
    z-index: 5;
    font-size: 1.6rem;
    margin: 347px 16px;
    width: 155px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.37);
}
.custo-numero{
    position: absolute;
    text-rendering: optimizeLegibility;
    z-index: 5;
    font-size: 1.7rem;
    margin: 347px 0px;
    width: 155px;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.37);
}
.hierarquia-p{
    position: absolute;
    margin: 335px 30px;
    width: 200px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.37);
}
.hierarquia{
    position: absolute;
    text-align: center;
    text-rendering: optimizeLegibility;
    z-index: 5;
    font-size: 1.5rem;
    font-weight: lighter;
    width: 155px;
}
/*CORES CLÃS*/
/*Purple*/
.purpleNome{
    color: rgb(37, 26, 85);
}
.purpleCusto{
    color: rgb(224, 200, 242);
}
.purpleLendaEHierarquia{
    color: rgb(53, 33, 141);
}
/*Green*/
.greenNome{
    color: rgb(34, 52, 12);
}
.greenCusto{
    color: rgb(172, 255, 145);
}
.greenLendaEHierarquia{
    color: rgb(19, 50, 9);
}
/*Orange*/
.orangeNome{
    color: rgb(79, 16, 6);
}
.orangeCusto{
    color: rgb(255, 133, 67);
}
.orangeLendaEHierarquia{
    color: rgb(108, 37, 9);
}
/*Yellow*/
.yellowNome{
    color: rgb(70, 23, 9);
}
.yellowCusto{
    color: rgb(255, 237, 74);
}
.yellowLendaEHierarquia{
    color: rgb(110, 49, 15);
}
/*Sem Clã*/
.semNome{
    color: rgb(58, 58, 58);
}
.semCusto{
    color: rgb(192, 192, 192);
}
.semLendaEHierarquia{
    color: rgb(58, 58, 58);
}
/*Red*/
.redNome{
    color: rgb(108, 20, 39);
}
.redCusto{
    color: rgb(254, 211, 196);
}
.redLendaEHierarquia{
    color: rgb(108, 20, 39);
}
/*Black*/
.blackNome{
    color: rgb(213, 58, 72);
}
.blackCusto{
    color: rgb(255, 193, 107);
}
.blackLendaEHierarquia{
    color: rgb(182, 16, 41);
}
/*Pink*/
.pinkNome{
    color: rgb(74, 21, 102);
}
.pinkCusto{
    
    color: rgb(255, 214, 249);
}
.pinkLendaEHierarquia{
    color: rgb(124, 25, 162);
}
/*Blue*/
.blueNome{
    color: rgb(8, 42, 69);
}
.blueCusto{
    color: rgb(201, 232, 255);
}
.blueLendaEHierarquia{
    color: rgb(23, 53, 122);
}
/*White*/
.whiteNome{
    color: rgb(62, 45, 106);
}
.whiteCusto{
    color: rgb(237, 217, 251);
}
.whiteLendaEHierarquia{
    color: rgb(72, 78, 121);
}
/*Cyan*/
.cyanNome{
    color: rgb(104, 45, 20);
}
.cyanCusto{
    color: rgb(210, 243, 228);
}
.cyanLendaEHierarquia{
    color: rgb(170, 87, 25);
}
/*Yellow2*/
.yellow2Nome{
    color: rgb(70, 23, 9);
}
.yellow2Custo{
    color: rgb(255, 237, 184);
}
.yellow2LendaEHierarquia{
    color: rgb(110, 49, 15);
}
/*Brown*/
.brownNome{
    color: rgb(100, 6, 21);
}
.brownCusto{
    color: rgb(254, 211, 196);
}
.brownLendaEHierarquia{
    color: rgb(131, 5, 6);
}
/*FILTRO DEGRADE PROPRIEDADES*/
#filtro img{
    position: absolute;
    z-index: 3;
    width: 300px;
    height: 394px;
}

